:root {
  --primary: #9f589b;
}

* {
    margin: auto;
   
  }
  h3 {
    text-align: center;
    padding: 20px;
    font-size: 28px;
   
  }
  
  .login {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 24px;
  }
  input {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
  }
  label {
    padding: 12px 12px 12px 0;
    /* display: inline-block; */
  }
  .submit_btn {
    background: rgb(106, 164, 13);
    color: white;
    margin: 10px 20px;
    width: 60%;
    height: 40px;
    border: none;  
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  .submit_btn:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }