* {
    margin: auto;   
  }
  
  h3 {
    text-align: center;
    padding: 20px;
    font-size: 28px; }  
  .user {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 24px;  
  }
  input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 24px;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .submit_btn {
    background: rgb(144, 79, 139);
    color: white;
    margin: 10px 20px;
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  